@use "colors";
@use "media";

.navbar {
    background: colors.$panel;
    display: flex;
    width: 100%;
    justify-content: space-between;;
}
.navbarHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.navbarItems {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    list-style-type: none;
    gap: 2rem;
}
.navbarLink {
    color: colors.$text;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 0.2rem;
    &:hover {
        border-bottom: 0.2rem solid colors.$text;
        padding-bottom: 0;
    }
}
.navbarCurrentLink {
    color: colors.$primary;
    text-decoration: none;
    border-bottom: 0.2rem solid colors.$primary;
    padding-bottom: 0;
    &:hover {
        border-bottom: 0.2rem solid colors.$primary;
    }
}

.navbarMenu {
    display: none;
}

.navbarTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

@media only screen and (max-width: media.$mobile-breakpoint) {
    .navbarMenu {
        display: inherit;
    }
    .navbar {
        flex-direction: column;
    }
    .navbarItems {
        flex-direction: column;
    }
    .navbarItems {
        display: none;
    }
    .navbarItemsOpen {
        display: inherit;
    }
}